* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-start-game-div {
    text-align: center;
}

.game-board {
    width: 100vw;
    height: 100vh;
}

.numbers-div {
    padding: 0.5rem 0;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: 700px;
    height: 500px;
}

.admin-section {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.timer-div {
    width: 100px;
    height: 40px;
    margin-top: 2rem;
    margin-right: 2rem;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 1rem;
}

.user-section {
    border: 2px solid black;
    margin-left: 2rem;
}

.user-number-div {
    /* border: 2px solid black; */
    max-width: 500px;
    max-height: 100px;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
    padding: 0.2rem 1rem;
}

.user-number-button {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    grid-template-columns: repeat(10, 1fr);
}

.radio-button {
    color: blueviolet;
    display: flex;
    gap: 1rem;
}

.selected-numbers {
    background-color: lightgreen;
}

.result-div {
    /* border: 2px solid black; */
    margin-top: 2rem;
    margin-right: 2rem;
    min-width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    /*place-items:center*/
    align-content: center;
}

.result-num-box {
    border: 2px solid black;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard-numbers {
    font-weight: bolder;
}